
{% extends "::base.html.twig" %}

{% block title %} BlogBundle:Viaje:create{% endblock %}

{% block body %}
	{{ form_start(form,{'attr':{'id': 'viaje-create'}}) }}
	{{ form_errors(form) }}
	
	<ul>
		<li>
			{{ form_label(form.name) }}:
			{{ form_errors(form.name) }}
			{{ form_widget(form.name) }}
		</li>
		<li>
			{{ form_label(form.destino) }}:
			{{ form_errors(form.destino) }}
			{{ form_widget(form.destino) }}
		</li>		
		<li>
			{{ form_widget(form.save) }}
		</li>
	</ul>
	
	{{ form_end(form) }}
	
	{% endblock %}